:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(156, 235, 175, 0.781);
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #55ae3a;
}

:host ::ng-deep .mat-slide-toggle-bar {
    height: 0.7vw;
    width: 2.8vw;
}

:host ::ng-deep .mat-slide-toggle-thumb {
    height: 1vw;
    width: 1vw;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(1.8vw, 0, 0) !important;
}

:host ::ng-deep .mat-slide-toggle-thumb-container {
    width: 1.2vw;
    height: 1.2vw;
    top: -0.2vw;
}

.ter {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    width: 50vw;
    height: 40vw;
    background: White;
    border-radius: 8px;
}

h1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 2vw;
    text-align: center;

    color: #000000;
}

.cookie {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 2vw;
    font-feature-settings: "pnum" on, "lnum" on;
    width: 40vw;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
}

.slider {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.acceptall {
    cursor: pointer;
    height: 2.5vw;
    width: 18vw;
    background: #55ae3a;

    border: 1px solid #ffffff;
    box-sizing: border-box;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px #b4b4bb, 0px 2px 4px #d2d2d6;
    border-radius: 8px;
}

.acceptsome {
    cursor: pointer;
    height: 2.5vw;
    width: 18vw;
    background: #363636;

    border: 1px solid #ffffff;
    box-sizing: border-box;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px #b4b4bb, 0px 2px 4px #d2d2d6;
    border-radius: 8px;

    margin: 0px 8px;
}

.felirat {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8vw;
    line-height: 0.2vw;

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;

    margin: 0px 8px;
}

.example-viewport {
    width: 50vw;
    height: 25vw;
    margin: auto;
    top: 4vw;
}

.example-item {
    height: 5vw;
}

.sutilistaelem {
    display: flex;
    height: 5vw;
}
