<div class="ter">

<h1>Süti beállítások</h1>
<div class="zold"></div>
<div class="zold2"></div>
<p class="cookie1">Et harum quidem rerum facilis est et expedita distinctio</p><mat-slide-toggle class="slider1"></mat-slide-toggle>

<p class="cookie2">Et harum quidem rerum facilis est et expedita distinctio</p><mat-slide-toggle class="slider2"></mat-slide-toggle>
<p class="cookie3">Et harum quidem rerum facilis est et expedita distinctio</p><mat-slide-toggle class="slider3"></mat-slide-toggle>
<p class="cookie4">Et harum quidem rerum facilis est et expedita distinctio</p><mat-slide-toggle class="slider4"></mat-slide-toggle>
<p class="cookie5">Et harum quidem rerum facilis est et expedita distinctio</p><mat-slide-toggle class="slider5"></mat-slide-toggle>
</div>

