<div class="suti">
    <p class="cim">Süti beállítások</p>
    <p class="sutiszoveg">Et harum quidem rerum facilis est et expedita distinctio. Nam libero <a class="zold">tempore</a>, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quiae. Et harum quidem <a class="zold">rerum facilis est</a> et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optiood maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
    <button class="acceptall" (click)="Accept()"><p class="felirat">Összes elfogadása</p></button>
    <button class="acceptsome" (click)="View()"><p class="felirat">Kiválasztottak elfogadása</p></button>

</div>
